<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style>
		a {
			text-align: center;
			font-size: 30px;
			margin: 20px auto;
			display: block
		}
	</style>
	<title>Hospital Site</title>
</head>
<body>
<<<<<<< HEAD
    <a href="/patientLogin">Patient Login</a>
	<a href="/patientSignup">Patient SignUp</a>
    <a href="/patient">Patient</a>
    <a href="/hospitalLogin">Hospital Login</a>
    <a href="/hospital">Hospital</a>
    <a href="/pharmacyLogin">Pharmacy Login</a>
    <a href="/pharmacy">Pharmacy</a>

=======
	<a href="/patientLogin">Patient Login</a>
	<a href="/patient">Patient</a>
	<a href="/hospitalLogin">Hospital Login</a>
  <a href="/hospital">Hospital</a>
  <a href="/pharmacyLogin">Pharmacy Login</a>
  <a href="/pharmacy">Pharmacy</a>
  <a href="patient/ppp.ejs">wawaawa</a>
>>>>>>> master
</body>
</html>
