<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=display-width, initial-scale=1.0">
	<title>Welcome back, Patient</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
				crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
	<link rel="stylesheet" href="/css/framazeing.css">
	<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
	<main class="container">
		<div class="offset-three-columns three-fourths column">
			<section class="row top heading">
				<h1>Welcome back, <span id="username">Insert Username</span></h1>
			</section>
			<div class="row">
				<section class="one-third column blood">
					<h2 class="heading orange">Blood Test</h2>
					<p>Insert blood test report here</p>
				</section>
				<section class="one-third column pressure">
					<h2 class="heading orange">Blood Pressure</h2>
					<p>Insert blood pressure report</p>
				</section>
				<section class="one-third column heart">
					<h2 class="heading orange">Heart Rate</h2>
					<p>Insert heart rate report</p>
				</section>
			</div>
			<div class="row">
				<section class="six columns meds">
					<h2 class="heading orange">Current Medication</h2>
					<p>Your are taking these medicines.</p>
				</section>
				<section class="six columns appoint">
					<h2 class="heading orange">Next Appointment</h2>
					<p>You are to meet Dr. Lorem Ipsum next.</p>
				</section>
			</div>
		</main>
	</div>
	<% include includes/navbar.ejs %>
</body>
</html>
