<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Patient Portal</title>
	<link rel="stylesheet" src="../../public/CSS/form.css">
	<script src="../../public/JS/form.js"></script>
</head>
<body>
	<form id="patient-form" method="post" onSubmit="return validateTextbox();">
		<p><label for="username" class="credential-text">Username: </label>
		<input type="text" name="username" class="credential-field" required /></p>
		<p><label for="password" class="credential-text">Password: </label>
		<input type="password" name="username" class="credential-field" required /></p>
	</form>
</body>
</html>
