<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=display-width, initial-scale=1.0">
	<title>Your History</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
				crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
	<link rel="stylesheet" href="/css/framazeing.css">
	<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
	<main class="container">
		<div class="offset-three-columns three-fourths column">
			<section class="row top heading">
				<h1>Medicines</h1>
				<p>Your medication history</p>
			</section>
			<section class="row">
				<section class="row heading green">
					<h2>Currently Running Medication</h2>
					<p>Medicines you are supposed to take without fail</p>
				</section>
				<table>
					<thead>
						<tr>
							<th>Medication</th>
							<th>About</th>
							<th>Usage</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Aspirin</td>
							<td>81 mg per pill</td>
							<td>
								<p>Three times a day</p>
								<p><small>1 pill every six hours</small></p>
							</td>
							<!-- <td><button class="button button-primary"><i class="fa fa-file-pdf-o"></i></button> -->
							<!--   <button class="button button-primary"><i class="fa fa-print"></i></button></td> -->
						</tr>
					</tbody>
				</table>
			</section>
			<section class="row">
				<section class="row heading orange">
					<h2>Previously Used Medication</h2>
					<p>Recently you have been using these medicines</p>
				</section>
				<table>
					<thead>
						<tr>
							<th>Medication</th>
							<th>About</th>
							<th>Usage</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Aspirin</td>
							<td>81 mg per pill</td>
							<td>
								<p>Three times a day</p>
								<p><small>1 pill every six hours</small></p>
							</td>
							<!-- <td><button class="button button-primary"><i class="fa fa-file-pdf-o"></i></button> -->
							<!--   <button class="button button-primary"><i class="fa fa-print"></i></button></td> -->
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</main>
	<% include includes/navbar.ejs %>
</body>
</html>
