<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=display-width, initial-scale=1.0">
	<title>Welcome back, Patient</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
	<link rel="stylesheet" href="../../public/css/dashboard.css">
</head>
<body>
	<main>
		<h1>Welcome back, User</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Duis auctor elit a venenatis rutrum. Nunc libero urna, interdum egestas magna at,
		tempor ullamcorper urna. In pellentesque vestibulum justo, laoreet auctor ipsum varius eu.
		Sed lacus nulla, elementum nec ultrices ac, faucibus id orci. In condimentum nec ante et porttitor.
		Praesent finibus lectus lorem, eget elementum enim pharetra in. Pellentesque ac turpis in
		eros auctor aliquam quis et odio. Nam egestas pretium rutrum. Etiam vel massa iaculis,
		pretium leo eget, porta arcu. Donec porta nunc quam, ac viverra nisi pharetra a.
		Ut pulvinar in dui sit amet commodo. Donec hendrerit ac erat eu vulputate.
		Maecenas in dui vitae dui venenatis iaculis.</p>
	</main>
	<aside class="main-sidebar">
		<section class="patient-info">
			<img class="main-sidebar__profile-img" alt="User profile image"
			  src="https://img.icons8.com/color/50/000000/circled-user-male-skin-type-6.png">
			<section class="main-sidebar__details">
			<h2>Patient 1</h2>
		</section>
		<nav class="dash-nav">
			<ul>
				<li><a href="#">Medical History</a></li>
				<li><a href="#">Medicines Taken</a></li>
			</ul>
		</nav>
	</aside>
</body>
</html>
