<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=display-width, initial-scale=1.0">
	<title>Your History</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
	      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
	<link rel="stylesheet" href="css/framazeing.css">
	<link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
	<div class="page-wrapper">
		<div class="container">
			<main class="offset-three-columns three-fourths column">
				<h1>Medical History</h1>
				<p>Your recent reports</p>
				<section class="row">
					<h2 class="heading green">Recent History</h2>
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Hospital</th>
								<th>Last Recorded At</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Blood Test</td>
								<td>Dhulikhel Hospital</td>
								<td><time>2019-07-05 09:00</time></td>
								<td><button class="button button-primary"><i class="fa fa-file-pdf-o"></i></button>
								  <button class="button button-primary"><i class="fa fa-print"></i></button></td>
							</tr>
						</tbody>
					</table>
				</section>
			</main>
			<aside class="main-sidebar one-fourth column">
				<section class="patient-info">
					<img class="profile-img" alt="User profile image"
					  src="https://img.icons8.com/color/50/000000/circled-user-male-skin-type-6.png">
					<section class="details">
						<h2>Patient 1</h2>
					</section>
				</section>
				<nav class="dash-nav">
					<ul>
						<li><a href="/dashboard"><i class="fa fa-th"></i> Dashboard</a></li>
						<li><a href="/dashHistory" class="active"><i class="fa fa-tasks"></i> Medical History</a></li>
						<li><a href="#"><i class="fa fa-flask"></i>Medicines Taken</a></li>
					</ul>
				</nav>
			</aside>
		</div>
	</div>
</body>
</html>

