<aside class="main-sidebar one-fourth column">
	<section class="patient-info">
		<img class="profile-img" alt="User profile image"
		  src="https://img.icons8.com/color/50/000000/circled-user-male-skin-type-6.png">
		<section class="details">
			<h2>Patient 1</h2>
		</section>
	</section>
	<nav class="dash-nav">
		<ul>
			<li><a href="/patient" class="active"><i class="fas fa-heartbeat"></i> Dashboard</a></li>
			<li><a href="/patient/history"><i class="fas fa-notes-medical"></i> Medical History</a></li>
			<li><a href="/patient/labtests"><i class="fas fa-flask"></i> Lab Tests</a></li>
			<li><a href="/patient/medication"><i class="fas fa-pills"></i> Medicines Taken</a></li>
			<li><a href="/patient/settings"><i class="fas fa-cogs"></i> Settings</a></li>
			<li><a href="/patient/logout"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
		</ul>
	</nav>
</aside>


